[tool.cibuildwheel]
build-verbosity = 3
build = "cp310-*"
skip = ["*-manylinux_i686", "*-musllinux*"]
manylinux-aarch64-image = "manylinux_2_28"
manylinux-x86_64-image = "manylinux_2_28"

[tool.cibuildwheel.linux]
environment = { PATH = "/usr/lib/ccache:/usr/lib64/ccache:/usr/lib/ccache/bin:$PATH", PIP_NO_BUILD_ISOLATION = "false", HOST_MLIR_PYTHON_PACKAGE_PREFIX = "aie" }
before-build = [
    "{project}/scripts/docker_prepare_ccache.sh",
    "pip install -r requirements.txt",
    "pip install git+https://github.com/hunhoffe/mlir-python-extras@09f0650",
    "{project}/scripts/download_mlir.sh",
]
environment-pass = [
    "CIBW_ARCHS",
    "CMAKE_ARGS",
    "CMAKE_GENERATOR",
    "DATETIME",
    "HOST_CCACHE_DIR",
    "AIE_PROJECT_COMMIT",
    "MATRIX_OS",
    "PARALLEL_LEVEL",
    "PIP_FIND_LINKS",
    "PIP_NO_BUILD_ISOLATION",
    "ENABLE_RTTI",
]
repair-wheel-command = [
    "auditwheel repair -w {dest_dir} {wheel} --exclude libmlir_float16_utils.so"
]

[tool.cibuildwheel.macos]
environment = { PATH = "/usr/local/opt/ccache/libexec:$PATH", PIP_NO_BUILD_ISOLATION = "false", HOST_MLIR_PYTHON_PACKAGE_PREFIX = "aie" }
before-build = [
    "pip install -r requirements.txt",
    "pip install git+https://github.com/hunhoffe/mlir-python-extras@09f0650",
    "{project}/scripts/download_mlir.sh",
]
repair-wheel-command = [
    "delocate-wheel --require-archs {delocate_archs} -w {dest_dir} -v {wheel}"
]

[tool.cibuildwheel.windows]
environment = { PIP_NO_BUILD_ISOLATION = "false", HOST_MLIR_PYTHON_PACKAGE_PREFIX = "aie" }
before-build = [
    "pip install delvewheel",
    "pip install -r requirements.txt",
    "pip install git+https://github.com/hunhoffe/mlir-python-extras@09f0650",
    "bash {project}\\scripts\\download_mlir.sh",
]