[project]
name = "mlir-aie"
description = "An MLIR-based toolchain for AMD AI Engine-enabled devices."
readme = { text = """This repository contains an [MLIR-based](https://mlir.llvm.org/) toolchain for Xilinx Versal
AIEngine-based devices.  This can be used to generate low-level configuration for the AIEngine portion of the
device, including processors, stream switches, TileDMA and ShimDMA blocks. Backend code generation is
included, targetting the LibXAIE library.  This project is primarily intended to support tool builders with
convenient low-level access to devices and enable the development of a wide variety of programming models
from higher level abstractions.  As such, although it contains some examples, this project is not intended to
represent end-to-end compilation flows or to be particularly easy to use for system design.
""", content-type = "text/markdown" }
dynamic = ["dependencies", "requires-python", "version", "license"]
authors = [
  { name="AMD Inc." },
  { email="joseph.melber@amd.com" },
]

[project.urls]
"Homepage" = "https://github.com/Xilinx/mlir-aie"

[tool.cibuildwheel]
build-verbosity = 3
build = "cp312-* cp313-* cp314-*"
skip = ["*-manylinux_i686", "*-musllinux*"]
manylinux-aarch64-image = "manylinux_2_28"
manylinux-x86_64-image = "manylinux_2_28"

[tool.cibuildwheel.linux]
environment = { PATH = "/usr/lib/ccache:/usr/lib64/ccache:/usr/lib/ccache/bin:$PATH", PIP_NO_BUILD_ISOLATION = "false" }
before-build = [
    "{project}/scripts/docker_prepare_ccache.sh",
    "pip install -r requirements.txt",
    "{project}/scripts/download_mlir.sh",
]
environment-pass = [
    "CIBW_ARCHS",
    "CMAKE_ARGS",
    "CMAKE_GENERATOR",
    "DATETIME",
    "HOST_CCACHE_DIR",
    "AIE_PROJECT_COMMIT",
    "MATRIX_OS",
    "PARALLEL_LEVEL",
    "PIP_FIND_LINKS",
    "PIP_NO_BUILD_ISOLATION",
    "ENABLE_RTTI",
]
repair-wheel-command = [
    "auditwheel repair -w {dest_dir} {wheel} --exclude libmlir_async_runtime.so --exclude libmlir_c_runner_utils.so --exclude libmlir_float16_utils.so --exclude libmlir_runner_utils.so --exclude libmlir_apfloat_wrappers.so"
]

[tool.cibuildwheel.macos]
environment = { PATH = "/usr/local/opt/ccache/libexec:$PATH", PIP_NO_BUILD_ISOLATION = "false" }
before-build = [
    "pip install -r requirements.txt",
    "{project}/scripts/download_mlir.sh",
]
repair-wheel-command = [
    "delocate-wheel --require-archs {delocate_archs} -w {dest_dir} -v {wheel}"
]

[tool.cibuildwheel.windows]
environment = { PIP_NO_BUILD_ISOLATION = "false" }
before-build = [
    "pip install delvewheel",
    "pip install -r requirements.txt",
    "bash {project}\\scripts\\download_mlir.sh",
]

[build-system]
requires = ["setuptools>=61.0", "nanobind", "pip>=22.1"]
build-backend = "setuptools.build_meta"

[project.scripts]
aie-lsp-server = "aie.tools:aie_lsp_server"
aie-opt = "aie.tools:aie_opt"
aie-reset = "aie.tools:aie_reset"
aie-translate = "aie.tools:aie_translate"
aie-visualize = "aie.tools:aie_visualize"
"aiecc.py" = "aie.compiler.aiecc.main:main"
bootgen = "aie.tools:bootgen"
"txn2mlir.py" = "aie.compiler.txn2mlir.main:main"
xchesscc_wrapper = "aie.tools:xchesscc_wrapper"
