.github             @makslevental @stephenneuendorffer
aie_kernels/        @denolf @jgmelber @fifield
aie_runtime_lib/    @stephenneuendorffer
cmake/              @denolf @stephenneuendorffer
docs/               @stephenneuendorffer
**/ADF/             @stephenneuendorffer
**/AIEVec/          @jsetoain
**/AIE/             @AndraBisca @stephenneuendorffer @fifield @makslevental
**/AIEX/            @makslevental @jgmelber @AndraBisca
**/XLLVM/           @jsetoain
**/AIETargetModel.* @stephenneuendorffer @makslevental
lib/CAPI            @makslevental
lib/Conversion/AIEVecToLLVM/  @jsetoain
lib/Target/LLVMIR/  @jsetoain
lib/Targets/        @makslevental
mlir_tutorials/     @denolf @jackl-xilinx @AndraBisca @fifield
platforms/          @jackl-xilinx @eddierichter-amd
programming_examples/ @denolf @jgmelber @fifield
python/             @makslevental @AndraBisca
reference_designs/  @denolf @jgmelber @fifield
runtime_lib/        @stephenneuendorffer
test/aievec/        @jsetoain
test/python/        @makslevental @AndraBisca
test/objectFifo*/   @AndraBisca
tools/              @stephenneuendorffer @makslevental
tutorials/          @denolf @jackl-xilinx
utils/              @makslevental @jackl-xilinx @jgmelber
