# Global fallback
**                             @jgmelber @fifield @hunhoffe @andrej

# Repo infrastructure
.github                        @stephenneuendorffer @fifield @erwei-xilinx @jgmelber @andrej @hunhoffe
tools/**                       @erwei-xilinx @hunhoffe @andrej
utils/**                       @erwei-xilinx @hunhoffe @andrej

# Compiler: dialects, conversions, targets
**/AIE/**                      @abisca @stephenneuendorffer @fifield @erwei-xilinx @hunhoffe
**/AIEX/**                     @jgmelber @abisca @fifield @hunhoffe
**/AIEVec/**                   @jsetoain @erwei-xilinx
**/XLLVM/                      @jsetoain
**/Conversion/                 @erwei-xilinx @jsetoain
lib/Conversion/AIEVecToLLVM/   @jsetoain
**/Target/**                   @jsetoain @fifield
**/Targets/**                  @fifield @jgmelber
**/AIETargetModel.*            @stephenneuendorffer
lib/CAPI/                      @fifield

# Runtime libraries
aie_runtime_lib/**             @stephenneuendorffer @jgmelber @hunhoffe @andrej
runtime_lib/**                 @stephenneuendorffer @jgmelber @hunhoffe @andrej

# Python frontend / bindings
python/**                      @abisca @andrej @jgmelber @hunhoffe

# Kernels
aie_kernels/**                 @jgmelber @jackl-xilinx @andrej @hunhoffe

# Platforms
platforms/**                   @jackl-xilinx @eddierichter-amd @jgmelber

# Docs, guides, examples
docs/**                        @stephenneuendorffer @jgmelber @hunhoffe
programming_guide/**           @denolf @jgmelber @abisca @jackl-xilinx @andrej @hunhoffe
programming_examples/**        @denolf @jgmelber @fifield @jackl-xilinx @andrej @hunhoffe

# Tests
test/**                        @stephenneuendorffer @jgmelber @fifield @jackl-xilinx @hunhoffe
test/**/AIEVec*/**             @jsetoain
test/unit_tests/aievec_tests/  @jsetoain
