[submodule "platforms/boards"]
	path = platforms/boards
	url = https://github.com/Xilinx/XilinxBoardStore.git
[submodule "cmake/modulesXilinx"]
	path = cmake/modulesXilinx
	url = https://github.com/Xilinx/cmakeModules.git
[submodule "runtime_lib/xaiengine/aie-rt"]
	path = third_party/aie-rt
	url = https://github.com/stephenneuendorffer/aie-rt.git
	branch = phoenix_v2023.2
[submodule "third_party/bootgen"]
	path = third_party/bootgen
	url = https://github.com/Xilinx/bootgen.git
