[submodule "platforms/boards"]
	path = platforms/boards
	url = https://github.com/Xilinx/XilinxBoardStore.git
[submodule "cmake/modulesXilinx"]
	path = cmake/modulesXilinx
	url = https://github.com/Xilinx/cmakeModules.git
[submodule "runtime_lib/xaiengine/aie-rt"]
	path = runtime_lib/xaiengine/aie-rt
	url = https://github.com/eddierichter-amd/aie-rt.git
	branch = converged-aie-rt
