@import "rouge-github";
@import url('https://fonts.googleapis.com/css?family=Arvo:400,700,400italic');

/* MeyerWeb Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

.logo {
    font-size: 28px
}

body {
    padding: 0px 0 20px 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #4a4a4a;
    background-color: #FBFAF7;
    line-height: 1.8em;
    -webkit-font-smoothing: antialiased
}

.section1 {
    width: 1000px;
    float: right;
    padding-bottom: 50px;
    text-align: center;
}

.wrapper ul {
    padding-left: 40px;
}

p-list {
    display: block;
}

@media print,
screen and (min-width: 1201px) {
    nav {
        background-color: #171717;
        color: #FDFDFB;
        width: 165px;
        float: left;
        position: fixed;
        -webkit-border-top-right-radius: 4px;
        -webkit-border-bottom-right-radius: 4px;
        -moz-border-radius-topright: 4px;
        -moz-border-radius-bottomright: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        padding: 0px 0px 6px 4px;
        -webkit-font-smoothing: antialiased;
        z-index: 9999
    }
    .listedpages {
        color: #fff;
        list-style-type: circle;
        width: 150px;
        height: 13px;
        margin-bottom: 2px;
        line-height: 1em;
        padding: 5px 5px 5px 5px;
        background: #AF0011;
        background: -moz-linear-gradient(top, #AF0011 0%, #820011 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #ddd));
        background: -webkit-linear-gradient(top, #AF0011 0%, #820011 100%);
        background: -o-linear-gradient(top, #AF0011 0%, #820011 100%);
        background: -ms-linear-gradient(top, #AF0011 0%, #820011 100%);
        background: linear-gradient(to top, #AF0011 0%, #820011 100%);
        border-radius: 6px;
        border: 1px solid #0D0D0D;
        -webkit-box-shadow: inset 0px 1px 1px 0 #e90226;
        box-shadow: inset 0px 1px 1px 0 #e90226
    }
    .listedpages:hover {
        background: #C3001D;
        background: -moz-linear-gradient(top, #C3001D 0%, #950119 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #ddd));
        background: -webkit-linear-gradient(top, #C3001D 0%, #950119 100%);
        background: -o-linear-gradient(top, #C3001D 0%, #950119 100%);
        background: -ms-linear-gradient(top, #C3001D 0%, #950119 100%);
        background: linear-gradient(to top, #C3001D 0%, #950119 100%);
        text-decoration: underline
    }
    .show {
        color: #fff;
        font-family: Arvo, sans-serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.3em;
        border-bottom: none;
        margin-top: 0
    }
    .you-container1 {
        position: relative;
        padding-bottom: 0px;
        height: 400px;
        overflow: hidden;
        padding-top: 0px;
        width: 70%;
    }
    .you-container2 {
        position: relative;
        padding-bottom: 0px;
        height: 400px;
        overflow: hidden;
        padding-top: 50px;
        width: 70%;
    }
    .otherheading,
    .icon,
    input {
        display: none
    }
    .section1 {
        width: 1000px;
        float: right;
        padding-bottom: 50px;
        text-align: center;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #232323;
    margin: 36px 0 10px
}

p,
ul,
ol,
table,
dl {
    margin: 7px 0 7px
}

h1,
h2,
h3 {
    font-family: Arvo, Monaco, serif;
    line-height: 1.3;
    font-weight: normal
}

h1,
h2,
h3 {
    display: block;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px
}

h1 {
    font-size: 30px
}

h2 {
    font-size: 24px
}

h3 {
    font-size: 18px
}

h4,
h5,
h6 {
    font-family: Arvo, Monaco, serif;
    font-weight: 700
}

a {
    color: #E20000;
    font-weight: 200;
    text-decoration: none
}

.show {
    color: #fff;
    font-family: Arvo, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.3em;
    border-bottom: none;
    margin-top: 0;
    display: block;
}

a:hover {
    text-decoration: underline
}

a small {
    font-size: 12px
}

em {
    font-style: italic
}

strong {
    font-weight: 700
}

ol {
    list-style-position: inside;
    list-style: decimal;
    padding-left: 25px
}

blockquote {
    margin: 0;
    padding: 0 0 0 20px;
    font-style: italic
}

dl,
dt,
dd,
dl p {
    color: #444
}

dl dt {
    font-weight: bold
}

dl dd {
    padding-left: 20px;
    font-style: italic
}

dl p {
    padding-left: 20px;
    font-style: italic
}

hr {
    border: 0;
    background: #ccc;
    height: 1px;
    margin: 0 0 24px
}

img {
    position: relative;
    margin: 0 auto;
    max-width: 1000px;
    padding: 5px;
    margin: 10px 0 10px 0;
    border: 1px solid #ccc
}

p img,
.emoji {
    display: inline;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    border: none;
    max-width: 100%;
    height: auto
}

code,
pre {
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    color: #000;
    font-size: 14px
}

pre {
    padding: 4px 12px;
    background: #FDFEFB;
    border-radius: 4px;
    border: 1px solid #D7D8C8;
    overflow: auto;
    overflow-y: hidden;
    margin-bottom: 32px
}

table {
    width: 100%
}

table {
    border: 1px solid #ccc;
    margin-bottom: 32px;
    text-align: left
}

th {
    font-family: 'Arvo', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: normal;
    padding: 10px;
    background: #232323;
    color: #FDFEFB
}

td {
    padding: 10px;
    font-size: 14px;
    background: #ccc
}

.menu-text {
    color: White;
}

.wrapper {
    width: 1200px
}

a.buttons {
    -webkit-font-smoothing: antialiased;
    background: url(../images/arrow-down.png) no-repeat;
    font-weight: normal;
    padding: 2px 2px 2px 22px;
    height: 30px
}

a.github {
    background: url(../images/mask-small.png) no-repeat 1px
}

a.youtube {
    background: url(../images/youtube.png) no-repeat 1px;
    background-position: right;
    padding: 2px 2px 2px 28px
}

a.pynq {
    background: url(../images/pynq.png) no-repeat 1px;
    padding: 2px 2px 2px 55px
}

section {
    width: 1000px;
    float: right;
    padding-bottom: 50px
}

footer {
    width: 165px;
    float: left;
    position: fixed;
    bottom: 0px;
    padding-left: 25px
}

@media print,
screen and (max-width: 1200px) {
    div.wrapper {
        width: auto;
        margin: 0
    }
    .nav {
        width: 968px;
    }
    header,
    section,
    footer {
        float: none;
        position: static;
        width: auto
    }
    footer {
        display: none;
        margin: 0 84px 0 50px;
    }
    header {
        padding-right: 320px
    }
    section {
        padding: 20px 50px 20px 50px;
        margin: 0 0 20px
    }
    .section1 {
        width: 1000px;
        float: right;
        padding-bottom: 50px;
        text-align: center;
    }
    .faqs {
        display: block;
    }
    header a small {
        display: inline
    }
    header ul {
        position: absolute;
        right: 130px;
        top: 84px
    }
    .buttons-github {
        text-align: center
    }
    .menu-text {
        color: Red;
    }
    .you-container1 {
        position: relative;
        padding-bottom: 0px;
        height: 250px;
        overflow: hidden;
        padding-top: 0px;
    }
    .you-container2 {
        position: relative;
        padding-bottom: 0px;
        height: 250px;
        overflow: hidden;
        padding-top: 50px;
    }
    .sometext,
    .buttons-github {
        display: none;
    }
}

@media print,
screen and (max-width: 720px) {
    body {
        word-wrap: break-word;
        margin-right: 0px
    }
    .nav {
        width: 720px;
    }
    header {
        padding: 10px 20px 0;
        margin-right: 0px;
        margin-left: 20px
    }
    section {
        padding: 10px 20px 10px 20px;
        margin: 0 0 30px
    }
    .section1 {
        width: 1000px;
        float: right;
        padding-bottom: 50px;
        text-align: center;
    }
    .faqs {
        display: block;
    }
    footer {
        margin: 0 0 0 30px;
        display: none;
    }
    header ul,
    header p.view {
        position: static
    }
    .buttons-github {
        text-align: center
    }
    .menu-text {
        color: red;
    }
    .you-container1 {
        position: relative;
        padding-bottom: 0px;
        height: 250px;
        overflow: hidden;
        padding-top: 0px;
    }
    .you-container2 {
        position: relative;
        padding-bottom: 0px;
        height: 250px;
        overflow: hidden;
        padding-top: 50px;
    }
    .sometext,
    .buttons-github {
        display: none;
    }
}

@media print,
screen and (max-width: 480px) {
    header ul li.download {
        display: none
    }
    footer {
        margin: 0 0 0 20px;
        display: none;
    }
    .nav {
        width: 480px;
    }
    footer a {
        display: block
    }
    .buttons-github {
        text-align: center
    }
    .menu-text {
        color: red;
    }
    .faqs {
        display: block;
    }
    .you-container1 {
        position: relative;
        padding-bottom: 0px;
        height: 250px;
        overflow: hidden;
        padding-top: 0px;
    }
    .you-container2 {
        position: relative;
        padding-bottom: 0px;
        height: 250px;
        overflow: hidden;
        padding-top: 50px;
    }
    .section1 {
        width: 1000px;
        float: right;
        padding-bottom: 50px;
        text-align: center;
    }
    .sometext,
    .buttons-github {
        display: none;
    }
}

@media print {
    body {
        padding: 0.4in;
        font-size: 12pt;
        color: #444
    }
    .buttons-github {
        text-align: center
    }
    .you-container1 {
        position: relative;
        padding-bottom: 0px;
        height: 250px;
        overflow: hidden;
        padding-top: 0px;
    }
    .you-container2 {
        position: relative;
        padding-bottom: 0px;
        height: 250px;
        overflow: hidden;
        padding-top: 50px;
    }
    .section1 {
        width: 1000px;
        float: right;
        padding-bottom: 50px;
        text-align: center;
    }
    .faqs {
        display: block;
    }
}

.responsive {
    max-width: 100%;
    height: auto
}

@media print,
screen and (max-width: 1200px) {
    .nav * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto';
        z-index: 999999
    }
    nav {
        background: #171717;
        width: 100%
    }
    nav:after {
        content: '';
        clear: both;
        display: table
    }
    nav .logo {
        float: left;
        color: white;
        font-size: 28px;
        font-weight: 600;
        line-height: 70px;
        padding-left: 60px;
        padding-top: 20px;
        padding-bottom: 10px
    }
    nav ul {
        padding: 1;
        float: right;
        list-style: none;
        margin-right: 5px;
        position: relative;
        z-index: 999999
    }
    nav ul li {
        float: left;
        background: inline-block;
        background: #171717;
        padding-top: 10px;
        margin: 0 5px;
        z-index: 999999
    }
    nav ul li a {
        color: white;
        text-decoration: none;
        font-size: 18px;
        padding: 8px 15px
    }
    nav ul li a:hover {
        color: #e00000;
        border-radius: 5px;
        box-shadow: 0 0 5px #e00000, 0 0 5px #820000
    }
    nav ul ul li a:hover {
        color: #e00000;
        box-shadow: none
    }
    nav ul ul {
        position: absolute;
        top: 80px;
        border-top: 3px solid #e00000;
        opacity: 0;
        visibility: hidden;
        transition: top .3s;
        z-index: 999999
    }
    nav ul ul ul {
        border-top: none
    }
    nav ul li:hover>ul {
        top: 70px;
        opacity: 1;
        visibility: visible
    }
    nav ul ul li {
        position: relative;
        margin: 0px;
        width: 150px;
        float: none;
        display: list-item;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3)
    }
    nav ul ul li a {
        line-height: 50px
    }
    nav ul ul ul li {
        position: relative;
        top: -70px;
        left: 150px
    }
    .show {
        color: #e00000;
        font-size: 30px;
        text-decoration: underline;
        text-decoration: solid
    }
    span .fa-plus {
        margin-left: 40px;
        font-size: 15px
    }
    .icon {
        padding-top: 15px
    }
    .icon,
    input {
        display: none
    }
    .you-container1 {
        position: relative;
        padding-bottom: 0px;
        height: 250px;
        overflow: hidden;
        padding-top: 0px;
    }
    .you-container2 {
        position: relative;
        padding-bottom: 0px;
        height: 250px;
        overflow: hidden;
        padding-top: 50px;
    }
    .section1 {
        width: 1000px;
        float: right;
        padding-bottom: 50px;
        text-align: center;
    }
}

@media all and (max-width: 1200px) {
    nav ul {
        margin-right: 5px;
        float: left
    }
    nav .logo {
        padding-left: 30px;
        width: 80%;
        padding-top: 10px
    }
    nav ul li,
    nav ul ul li {
        display: block;
        width: 100%
    }
    nav ul ul {
        top: 70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible
    }
    nav ul ul ul li {
        position: static
    }
    nav ul ul li {
        border-bottom: 0px
    }
    nav ul ul a {
        padding-left: 80px
    }
    nav ul ul ul a {
        padding-left: 160px
    }
    .icon {
        display: block;
        color: white;
        position: absolute;
        right: 40px;
        padding-top: 35px;
        line-height: 25px;
        font-size: 25px;
        cursor: pointer
    }
    nav ul li a:hover {
        box-shadow: none
    }
    .show+a,
    .navbar-ul {
        display: none
    }
    [id^=btn]:checked+ul {
        display: block
    }
    .show {
        color: #ff0000;
        font-size: 25px;
        text-decoration: underline;
        text-decoration: solid;
        padding-left: 15px
    }
    .you-container1 {
        position: relative;
        padding-bottom: 0px;
        height: 250px;
        overflow: hidden;
        padding-top: 0px;
    }
    .you-container2 {
        position: relative;
        padding-bottom: 0px;
        height: 250px;
        overflow: hidden;
        padding-top: 50px;
    }
    .section1 {
        width: 1000px;
        float: right;
        padding-bottom: 50px;
        text-align: center;
    }
}

@media all and (max-width: 1200px) {
    nav ul {
        margin-right: 5px;
        float: left
    }
    nav .logo {
        padding-left: 30px;
        width: 80%;
        padding-top: 10px
    }
    nav ul li,
    nav ul ul li {
        display: block;
        width: 100%;
    }
    nav ul ul {
        top: 70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible
    }
    nav ul ul ul li {
        position: static
    }
    nav ul ul li {
        border-bottom: 0px
    }
    nav ul ul a {
        padding-left: 80px
    }
    nav ul ul ul a {
        padding-left: 160px
    }
    .icon {
        display: block;
        color: white;
        position: absolute;
        right: 40px;
        padding-top: 35px;
        line-height: 25px;
        font-size: 25px;
        cursor: pointer
    }
    nav ul li a:hover {
        box-shadow: none
    }
    .show+a,
    .navbar-ul {
        display: none
    }
    [id^=btn]:checked+ul {
        display: block
    }
    .show {
        color: #ff0000;
        font-size: 25px;
        text-decoration: underline;
        text-decoration: solid;
        padding-left: 15px
    }
    .you-container1 {
        position: relative;
        padding-bottom: 0px;
        height: 250px;
        overflow: hidden;
        padding-top: 0px
    }
    .you-container2 {
        position: relative;
        padding-bottom: 0px;
        height: 250px;
        overflow: hidden;
        padding-top: 50px;
    }
    .section1 {
        width: 1000px;
        float: right;
        padding-bottom: 50px;
        text-align: center;
    }
}

table img {
    margin: 0px;
    border: 0px;
    vertical-align: text-bottom;
    padding: 0px
}