#
# Copyright (C) 2022-2024 Advanced Micro Devices, Inc.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception
#

config.suffixes = ['.lit']

# This suite contains both Peano and Chess/Vitis execution paths.
if (
    'AIE2' not in config.vitis_components
    and 'AIE2P' not in config.vitis_components
    and 'peano' not in config.available_features
    and 'chess' not in config.available_features
):
    config.unsupported = True
