#
# This file is licensed under the Apache License v2.0 with LLVM Exceptions.
# See https://llvm.org/LICENSE.txt for license information.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception
#
# Copyright (C) 2022-2026 Advanced Micro Devices, Inc.

config.suffixes = ['.lit']

# This suite contains both Peano and Chess/Vitis execution paths.
if (
    'AIE2' not in config.vitis_components
    and 'AIE2P' not in config.vitis_components
    and 'peano' not in config.available_features
    and 'chess' not in config.available_features
):
    config.unsupported = True
