PyYAML>=5.3.1, <=6.0.1
aiofiles
cmake==3.27.9
dataclasses>=0.6, <=0.8
filelock==3.13.1
lit
numpy>=1.19.5, <=1.26
pandas
psutil
pybind11>=2.9.0, <=2.10.3
rich
setuptools
bfloat16
wheel

-r aie-python-extras-req.txt