numpy>=1.19.5, <=1.26
pybind11>=2.9.0, <=2.10.3
PyYAML>=5.3.1, <=6.0.1
dataclasses>=0.6, <=0.8
networkx[default]
ortools
gurobipy
matplotlib
ortools
psutil
rich
lit
# aie branch
git+https://github.com/makslevental/mlir-python-extras@a731660c5ae4409bdf99abfabdf4e11b7ca35e52