cmake>=4.3.2, <5.0
pybind11>=3.0.4
setuptools>=82.0.1
wheel
ninja!=1.13.0
cibuildwheel
pre-commit
nanobind>=2.12.0
lit
matplotlib
# lit requires psutil to set timeouts
psutil
pytest
pyyaml
cloudpickle # required by eudsl when it is vendored instead of installed
