 # This can't go in the normal requirements file because the way the wheels build parses requirements.txt
 # does not support github packages

# MLIR-extras (Python bindings/helpers for MLIR)
# For installing this, the following environment variables must be set:
# EUDSL_PYTHON_EXTRAS_HOST_PACKAGE_PREFIX="aie"
eudsl-python-extras
-f https://llvm.github.io/eudsl/latest