<!doctype html>
<html lang="{{ site.lang | default: " en-US " }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico"> {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <script src="https://kit.fontawesome.com/dc3ec3213a.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=12.0, minimum-scale=.25, user-scalable=yes">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
    <nav>
        <div class="logo">
            <img alt="" src="assets/images/TLogoW.png" style="display: block" width="120px" border="0">
        </div>
        <label for="btn" class="icon">
            <span class="fa fa-bars"></span>
        </label>
        <input type="checkbox" id="btn">
        <ul class="navbar-ul">
            <li><label for="btn-4" class="show">MLIR-AIE </label></li>
            <li class="listedpages"><a style="color:white;" href="index.html">Overview</a></li>
            <li class="listedpages"><a style="color:white;" href="Building.html">Getting Started</a></li>
            <li class="listedpages"><a style="color:white;" href="AIEDialect.html">AIE Dialect</a></li>
            <li class="listedpages"><a style="color:white;" href="AIEPasses.html">AIE Passes</a></li>
            <li class="listedpages"><a style="color:white;" href="AIEVecDialect.html">AIEVec Dialect</a></li>
            <li class="listedpages"><a style="color:white;" href="AIEVecPasses.html">AIEVec Passes</a></li>
            <li class="listedpages"><a style="color:white;" href="ADFDialect.html">ADF Dialect</a></li>
            <li class="listedpages"><a style="color:white;" href="ADFPasses.html">ADF Passes</a></li>
        </ul>
    </nav>

    <div class="wrapper">
        <div class="wrapper">
            <section>
                {{ content }}
            </section>

        </div>
        <!--[if !IE]><script>fixScale(document);</script><![endif]-->
        {% if site.google_analytics %}
        <script>
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            ga('create', '{{ site.google_analytics }}', 'auto');
            ga('send', 'pageview');
        </script>
        {% endif %}
</body>

</html>