# MkDocs documentation build requirements
# Install with: pip install -r docs/requirements-mkdocs.txt
mkdocs>=1.6.1,<2.0
mkdocs-material>=9.7.7,<10.0
mkdocstrings[python]>=1.0.6
mkdocs-gen-files>=0.6.1
mkdocs-literate-nav>=0.6.3
griffe>=2.2.0
mike>=2.2.0
