# MkDocs documentation build requirements
# Install with: pip install -r docs/requirements-mkdocs.txt
mkdocs>=1.6.0,<2.0
mkdocs-material>=9.7.0,<10.0
mkdocstrings[python]>=0.26.0
mkdocs-gen-files>=0.5.0
mkdocs-literate-nav>=0.6.1
griffe>=1.0.0
mike>=2.1.0
